﻿// SIZE ===================================
// > link
$s-link: 14px;
$s-link-pc: 12px;
// > icon
$s-icon: 24px;

// COLOR ==================================
// > primary
$c-primary: #0d7cd6;
// > secondary
$c-secondary: #2196f3;
// > link + icon
$c-link: #000;
$c-link-pc: #0d0d0d;
// > border
$c-border: #ebebeb;
// > background submenu 1
$cbs1: #f3f3f3;
// > background submenu 2
$cbs2: #dedede;
// > background submenu 3
$cbs3: #bfbfbf;
// > background of main li when hovered
$c-li-hover-pc: transparent;
// > main link + icon when hovered
$c-link-hover-pc: #0d7cd6;

// PADDING ================================
// > link
$p-link: 8px 15px;
$p-link-pc: 30px 20px;

// TRANSITION =============================
// > all elements
$trans: all .3s ease;

// TEXT TRANSFORM =========================
// > link
$tt-link-pc: uppercase;

// FONT WEIGHT ============================
// > link
$fw-link-pc: bold;

// ICONS ==================================
// > dropdown
$i-dd: "\f105";
$i-dd-pc: "\f0d7";
// > dropdown child
$i-dd-child-pc: "\f0da";

// MORE ===================================
// > align pseudo of main dropdown
$a-pseudo: 5px;