﻿@charset "UTF-8";
#x-resMenu ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#x-resMenu > nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  visibility: hidden;
  width: 300px;
  max-width: 70%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-overflow-scrolling: touch; }
  #x-resMenu > nav.visible {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  #x-resMenu > nav > ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #x-resMenu > nav > ul li {
      border-top: 1px solid #ebebeb; }
    #x-resMenu > nav > ul a {
      color: #000;
      font-size: 14px;
      display: block;
      text-decoration: none;
      padding: 8px 15px; }
    #x-resMenu > nav > ul > li a {
      padding: 8px 15px; }
  #x-resMenu > nav .dropdown {
    position: relative;
    cursor: pointer; }
    #x-resMenu > nav .dropdown > a {
      display: inline-block; }
    #x-resMenu > nav .dropdown:after {
      padding-top: 0px;
      font-size: 24px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      content: "";
      font: normal normal normal 20px/1 FontAwesome;
      color: #000;
      line-height: 39px;
      width: 40px;
      height: 40px;
      text-align: center;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #x-resMenu > nav .dropdown.show:after {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #x-resMenu > nav .dropdown ul {
      display: none;
      background-color: #f3f3f3; }
      #x-resMenu > nav .dropdown ul li {
        padding-left: 10px; }
      #x-resMenu > nav .dropdown ul ul {
        background-color: #dedede; }
        #x-resMenu > nav .dropdown ul ul ul {
          background-color: #bfbfbf; }

#x-resMenu > .toggle {
  line-height: 1;
  display: inline-block;
  padding: 2px;
  border: 0;
  background-color: transparent;
  right: 0;
  width: 45px;
  height: 60px;
  position: fixed;
  z-index: 99;
  outline: none; }
  #x-resMenu > .toggle > span {
    position: relative;
    margin: auto;
    display: block;
    width: 25px;
    height: 2px;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #0d7cd6; }
    #x-resMenu > .toggle > span:before {
      content: '';
      top: -7px;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #0d7cd6;
      -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
    #x-resMenu > .toggle > span:after {
      content: '';
      width: 100%;
      height: 2px;
      top: inherit;
      bottom: -7px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #0d7cd6;
      -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
  #x-resMenu > .toggle.show span {
    background: transparent; }
    #x-resMenu > .toggle.show span:before {
      -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
      -ms-transform: translateY(7px) translateX(0) rotate(45deg);
      transform: translateY(7px) translateX(0) rotate(45deg);
      background-color: #fff; }
    #x-resMenu > .toggle.show span:after {
      -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
      transform: translateY(-7px) translateX(0) rotate(-45deg);
      background-color: #fff; }

@media (max-width: 991px) {
  #x-resMenu > nav {
    overflow-x: hidden;
    background: #fff; }
    #x-resMenu > nav > ul > li:hover {
      background-color: transparent; }
      #x-resMenu > nav > ul > li:hover > a {
        color: inherit; }
      #x-resMenu > nav > ul > li:hover:after {
        color: inherit; }
      #x-resMenu > nav > ul > li:hover.dropdown:after {
        color: inherit; }
  .overlay {
    position: fixed;
    z-index: 9;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; } }

@media (min-width: 992px) {
  #x-resMenu > nav {
    position: static;
    top: auto;
    left: auto;
    z-index: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    height: auto;
    min-height: 0;
    overflow-y: visible;
    width: 100%;
    max-width: 100%;
    background: none; }
    #x-resMenu > nav > ul li {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #x-resMenu > nav > ul a {
      padding: 8px 15px; }
    #x-resMenu > nav > ul > li {
      position: relative;
      float: left;
      padding: 0px;
      border-top: 0px; }
      #x-resMenu > nav > ul > li > a {
        display: block;
        line-height: 20px;
        padding: 30px 20px;
        font-size: 12px;
        color: #0d0d0d;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #x-resMenu > nav > ul > li:hover {
        background-color: transparent; }
        #x-resMenu > nav > ul > li:hover.dropdown:after {
          color: #0d7cd6; }
        #x-resMenu > nav > ul > li:hover > a {
          color: #0d7cd6; }
      #x-resMenu > nav > ul > li.active {
        background-color: transparent; }
        #x-resMenu > nav > ul > li.active.dropdown:after {
          color: #0d7cd6; }
        #x-resMenu > nav > ul > li.active > a {
          color: #0d7cd6; }
    #x-resMenu > nav > ul > .dropdown:after {
      position: absolute;
      top: 50%;
      bottom: inherit;
      right: 5px;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      line-height: 10px; }
    #x-resMenu > nav .dropdown:after {
      content: "";
      font: normal normal normal 14px/1 FontAwesome;
      color: #000; }
    #x-resMenu > nav .dropdown .dropdown:after {
      content: ""; }
    #x-resMenu > nav .dropdown ul {
      left: 0px;
      display: block;
      opacity: 0;
      position: absolute;
      top: 100%;
      width: 215px;
      margin: 0;
      background-color: transparent;
      border-radius: 0px;
      visibility: hidden;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #x-resMenu > nav .dropdown ul > li {
        padding: 0;
        background-color: #fff; }
        #x-resMenu > nav .dropdown ul > li > a {
          color: #0d0d0d; }
        #x-resMenu > nav .dropdown ul > li:hover a {
          color: #fff; }
      #x-resMenu > nav .dropdown ul li {
        border: 1px solid #ebebeb;
        border-bottom: none;
        border-top: none; }
        #x-resMenu > nav .dropdown ul li:first-child {
          border-top: 1px solid #ebebeb; }
        #x-resMenu > nav .dropdown ul li:last-child {
          border-bottom: 1px solid #ebebeb; }
        #x-resMenu > nav .dropdown ul li:hover {
          background-color: #2196f3;
          border-color: #2196f3; }
          #x-resMenu > nav .dropdown ul li:hover > a {
            color: #fff !important; }
          #x-resMenu > nav .dropdown ul li:hover:after {
            color: #fff; }
      #x-resMenu > nav .dropdown ul .dropdown:after {
        top: 10px;
        transform: translateY(0); }
      #x-resMenu > nav .dropdown ul ul {
        z-index: 998;
        top: -1px;
        left: 100%;
        margin-left: 1px;
        padding-left: 6px;
        background-color: transparent; }
        #x-resMenu > nav .dropdown ul ul ul {
          background-color: transparent; }
        #x-resMenu > nav .dropdown ul ul a {
          color: #0d0d0d !important; }
          #x-resMenu > nav .dropdown ul ul a:hover {
            color: #fff !important; }
        #x-resMenu > nav .dropdown ul ul li {
          background-color: #fff; }
          #x-resMenu > nav .dropdown ul ul li:hover {
            background-color: #2196f3; }
    #x-resMenu > nav .dropdown.show:after {
      -webkit-transform: rotate(0) translateY(-50%);
      -moz-transform: rotate(0) translateY(-50%);
      -ms-transform: rotate(0) translateY(-50%);
      -o-transform: rotate(0) translateY(-50%);
      transform: rotate(0) translateY(-50%); }
    #x-resMenu > nav .dropdown:hover > ul {
      visibility: visible;
      opacity: 1;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      display: block !important; }
  #x-resMenu > .toggle {
    display: none; } }
