﻿@import "config";
#x-resMenu {
	ul { list-style: none; margin: 0; padding: 0 }
	& > nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    width: 300px;
    max-width: 70%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
		&.visible {
			visibility: visible;
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}
		& > ul {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			li { border-top: 1px solid $c-border }
			a { color: $c-link;	font-size: $s-link; display: block;	text-decoration: none; padding: $p-link }
			& > li a { padding: $p-link }
		}
		.dropdown {
			position: relative;
			cursor: pointer;
			& > a { display: inline-block }
			&:after {
				padding-top: 0px;
				font-size: $s-icon;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				content: $i-dd;
				font: normal normal normal 20px/1 FontAwesome;
				color: $c-link;
				line-height: 39px;
				width: 40px;
				height: 40px;
				text-align: center;
				-webkit-transition: $trans;
				-o-transition: $trans;
				transition: $trans;
			}
			&.show:after {
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
				-webkit-transition: $trans;
				-moz-transition: $trans;
				-ms-transition: $trans;
				-o-transition: $trans;
				transition: $trans;
			}
			ul {
				display: none;
				background-color: $cbs1;
				li { padding-left: 10px }
				ul { 
					background-color: $cbs2;
					ul { background-color: $cbs3 }
				}
			}
		}

	}
	& > .toggle {
		line-height: 1;
		display: inline-block;
		padding: 2px;
		border: 0;
		background-color: transparent;
		right: 0;
		width: 45px;
		height: 60px;
		position: fixed;
		z-index: 99;
		outline: none;
		& > span {
			position: relative;
			margin: auto;
			display: block;
			width: 25px;
			height: 2px;
			-webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
			transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
			background-color: $c-primary;
			&:before {
				content: '';
				top: -7px;
				width: 100%;
				height: 2px;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				background-color: $c-primary;
				-webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
				transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
				-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
				transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
			&:after {
				content: '';
				width: 100%;
				height: 2px;
				top: inherit;
				bottom: -7px;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				background-color: $c-primary;
				-webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
				transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
				-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
				transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
		}
		&.show span{ 
			background: transparent; 
			&:before{
				-webkit-transform: translateY(7px) translateX(0) rotate(45deg);
				-ms-transform: translateY(7px) translateX(0) rotate(45deg);
				transform: translateY(7px) translateX(0) rotate(45deg);
				background-color: #fff;
			}
			&:after{
				-webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
				-ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
				transform: translateY(-7px) translateX(0) rotate(-45deg);
				background-color: #fff;
			}
		}
	}	
}
@media (max-width: 991px){
  #x-resMenu {
		& > nav {
			overflow-x: hidden;      
			background: #fff;
			& > ul > li:hover  {
				background-color: transparent; 
				& > a { color: inherit }
				&:after { color: inherit }
				&.dropdown:after { color: inherit }
			}
		}
  }
	.overlay{
		position: fixed;
		z-index: 9;
		display: none;
		background: rgba(0, 0, 0, 0.6);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: pointer;
	}
}
@media (min-width: 992px) {
	#x-resMenu {
		& > nav {
			position: static;
			top: auto;
			left: auto;
			z-index: auto;
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			visibility: visible;
      height: auto;
      min-height: 0;
      overflow-y: visible;
      width: 100%;
      max-width: 100%;
			background: none;
			& > ul {
				li { -webkit-transition: $trans; transition: $trans }
				a { padding: $p-link }
				& > li {
					position: relative;
					float: left;
					padding: 0px;
					border-top: 0px;
					& > a {
						display: block;
						line-height: 20px;
						padding: $p-link-pc;
						font-size: $s-link-pc;
						color: $c-link-pc;
						font-weight: $fw-link-pc;
						text-transform: $tt-link-pc;
						-webkit-transition: $trans;
						-moz-transition: $trans;
						-o-transition: $trans;
						transition: $trans;
					}
					&:hover { 
						background-color: $c-li-hover-pc;
						&.dropdown:after { color: $c-link-hover-pc }
						& > a { color: $c-link-hover-pc }
					}
					&.active { 
						background-color: $c-li-hover-pc;
						&.dropdown:after { color: $c-link-hover-pc }
						& > a { color: $c-link-hover-pc }
					}
				}
				& > .dropdown:after {
					position: absolute;
					top: 50%;
					bottom: inherit;
					right: $a-pseudo;
					width: 10px;
					height: 10px;
					transform: translateY(-50%);
					line-height: 10px;
				}
			}
			.dropdown {
				&:after { content: $i-dd-pc; font: normal normal normal 14px/1 FontAwesome; color: #000 }
				.dropdown:after { content: $i-dd-child-pc }
				ul {
					left: 0px;
					display: block;
					opacity: 0;
					position: absolute;
					top: 100%;
					width: 215px;
					margin: 0;
					background-color: transparent;
					border-radius: 0px;
					visibility: hidden;
					-webkit-transition: $trans;
					transition: $trans;
					& > li {
						padding: 0;
						background-color: #fff;
						& > a {	color: $c-link-pc }
						&:hover a { color: #fff }
					}
					li {
						border: 1px solid $c-border;
						border-bottom: none;
						border-top: none;
						&:first-child {	border-top: 1px solid $c-border }
						&:last-child { border-bottom: 1px solid $c-border }
						&:hover { 
							background-color: $c-secondary; 
							border-color: $c-secondary;
							& > a { color: #fff!important }
							&:after { color: #fff }
						}
					}
					.dropdown:after {	top: 10px; transform: translateY(0) }
					ul {
						z-index: 998;
						top: -1px;
						left: 100%;
						margin-left: 1px;
						padding-left: 6px;
						background-color: transparent;
						ul { background-color: transparent }
						a { 
							color: $c-link-pc!important; 
							&:hover { color: #fff!important }
						}
						li { 
							background-color: #fff;
							&:hover {	background-color: $c-secondary }
						}
					}
				}
				&.show:after {
					-webkit-transform: rotate(0) translateY(-50%);
					-moz-transform: rotate(0) translateY(-50%);
					-ms-transform: rotate(0) translateY(-50%);
					-o-transform: rotate(0) translateY(-50%);
					transform: rotate(0) translateY(-50%);
				}
				&:hover > ul {
					visibility: visible;
					opacity: 1;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;
					display: block!important;
				}
			}
    }
		& > .toggle { display: none }
	}
}